
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0;
	padding: 0;
	background: #FFFFFF url('http://localhost/sdproject/public/bluesky/img/img02.jpg') repeat-x left top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #0066FF;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.8em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
	font-size: 1.1em;
	
}


ul, ol {
}

a {
	text-decoration: underline;
	color: #3300FF;
}

a:hover {
	text-decoration: none;
}


#wrapper {
	margin: 0 auto;
	padding: 0;
	
}

/* Header */

#header-wrapper {
	height: 125px;
}

#header {
	width: 1000px;
	margin: 0 auto;
	padding: 0px;
}

/* Logo */

#logo {
	float: left;
	width: 32%;
	margin: 0;
	padding: 0;
	color: #3300FF;
}

#logo h1, #logo p {
}

#logo h1 {
	margin-left: 30px;
	padding: 10px 0px 0px 0px;
	letter-spacing: -1px;
	text-transform: lowercase;
	font-size: 3.8em;
	color: #FFFFFF;
}

#logo h3 {
	margin-left: 30px;
	/*padding: 20px 0px 0px 0px;*/
	letter-spacing: -1px;
	text-transform: lowercase;
	font-size: 2.0em;
	color: #FFFFFF;
}

#logo h1 a {
	color: #FFFFFF;
}

#logo h1 span {
	/*color: #0066FF;*/
	color: #3399FF;
}

#logo p {
	margin: 0;
	padding: 20px 0 0 32px;
	font: normal 14px Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	color: #FFFFFF;
} 

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #FFFFFF;
}

/* Search */
#profile {
	background: #F3F3EE;
}
#search {
	float: right;
	width: 260px;
	height: 40px;
	padding: 10px 10px 0px 0px;
	/*background: #F3F3EE;*/
	background: #FFFFFF;
}

#search form {
	height: 41px;
	margin: 0;
	padding: 10px 0 0 20px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search_text {
	width: 170px;
	padding: 6px 5px 2px 5px;
	border: 1px solid #DEDEDE;
	background: #FFFFFF;
	text-transform: lowercase;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #3300FF;
}

#search_submit {
	width: 50px;
	height: 25px;
	border: none;
	font: normal 15px Arial, Helvetica, sans-serif;
	background: #0066FF;
	color: #FFFFFF;
}

#login_submit {
	width: 60px;
	height: 25px;
	border: none;
	font: normal 15px Arial, Helvetica, sans-serif;
	background: #0066FF;
	color: #FFFFFF;
}

#register_submit {
	width: 68px;
	height: 25px;
	border: none;
	font: normal 15px Arial, Helvetica, sans-serif;
	background: #0066FF;
	color: #FFFFFF;
}

#submit {
	width: 68px;
	height: 25px;
	border: none;
	font: normal 15px Arial, Helvetica, sans-serif;
	background: #0066FF;
	color: #FFFFFF;
}


/* Menu */

#menu {
	float: right;
	width: 68%;
	height: 125px;
	margin: 0 auto;
	padding: 0;
}

#menu ul {
	margin: 0;
	padding: 85px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
	color: #3300FF;
}

#menu a {
	display: block;
	padding: 10px 15px 14px 15px;
	background: #86908D;
	/*background: #3300FF;*/
	text-decoration: none;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
	border: none;
}

#menu a:hover{
	background: #3399FF;
	text-decoration: none;
}

#menu .current_page_item a {
background: #3399FF;
text-decoration: none;
}

/* Page */

#page {
	width: 980px;
	margin: 0 auto;
	padding: 0px 0px 0px 0px;
	/*background: #DCDCDC;*/
}

#page-bgtop {
	padding: 20px 0px;
}
/* Content */

#content {
	float: left;
	width: 650px;
	padding: 0px 0px 0px 0px;
}

.comment {
}

.comment .meta {
	height: 55px;
	margin: 0px;
	padding: 10px 20px 0px 20px;
	background: url('http://localhost/sdproject/public/bluesky/img/img04.jpg') no-repeat left top;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
}
.comment .meta .posted{
float: left;
color: #0c0c0c;
}

.comment .meta .Delete {
float: right;
}

.comment .entry {
	background: #D1D0D2;
	padding: 10px 30px 20px 30px;
	padding-bottom: 0px;
	text-align: justify;
	color: #0C0C0C;
}



.post {
}

.post .title {
	height: 36px;
	font-size: 1.8em;
	padding: 8px 0px 0px 30px;
	color: #0066FF;
	letter-spacing: -1px;
}

.post .title a {
	text-decoration: none;
	color: #0066FF;
	border: none;
}

.post .meta {
	height: 38px;
	margin: 0px;
	padding: 12px 30px 0px 30px;
	background: url('http://localhost/sdproject/public/bluesky/img/img03.jpg') no-repeat left top;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
}

.post .meta .date {
	float: left;
}

.post .meta .posted {
	float: right;
	
}

.post .links {
	float: right;
}

.post .meta  a{
	color: #FFFFFF;
}

.post .entry {
	background: #FFFFFF;
	padding: 10px 30px 00px 30px;
	padding-bottom: 0px;
	text-align: justify;
	color: #0C0C0C;
}

.post .entry a{
	color: #0066FF;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 280px;
	margin: 0px;
	padding: 0px 20px 0px 0px;
	color: #787878;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin: 0px 0px;
	padding-bottom: 30px;
}

#sidebar li li {
	line-height: 35px;
	border-bottom: 1px dotted #E7E2DC;
	margin: 0px 0px 0px 30px;
	border-left: none;
	text-align: left;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar li li a {
	padding: 0px 0px 0px 15px;
	background: url('http://localhost/sdproject/public/bluesky/img/img01.jpg') no-repeat left 5px;
}

#sidebar h2 {
	height: 38px;
	padding-left: 30px;
	text-align: left;
	letter-spacing: -.5px;
	font-size: 1.8em;
	color: #3300FF;
}

#sidebar p {
	margin: 0 0px;
	padding: 0px 0px 20px 30px;
	text-align: justify;
}

#sidebar a {
	border: none;
	color: #0066FF;
}

#sidebar a:hover {
	text-decoration: underline;
	color: #EB1D1D;
}

/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Footer */

#footer {
	height: 50px;
	margin: 0 auto;
	padding: 0px 0 15px 0;
	background: #3300FF;
	font-family: Arial, Helvetica, sans-serif;
}

#footer p {
	margin: 0;
	padding-top: 20px;
	line-height: normal;
	font-size: 10px;
	text-transform: uppercase;
	text-align: center;
	color: #FFFFFF;
}

#footer a {
	color: #FFFFFF;
}